#header{
	height: 100px;
	border-bottom: 1px solid #ddd;
}
#header .head{
	width:990px;
	margin:0 auto;
}
#header .head .headL{
	float:left;
}
#header .head .headL h1{
	float: left;
}
#header .head .headL h1 a{
	width: 170px;
	margin-top:15px;
	overflow: hidden;
	display: block;
}
.head .headL strong{
	display: block;
	width: 170px;
    height: 44px;
    line-height: 44px;
    float: left;
    color: #666;
    font-size: 22px;
    margin: 30px 0 0 10px;
    font-weight: normal;
}
.head .headR{
	float: right;
	width: auto;
    height: 24px;
    line-height: 24px;
    color: #333;
    display: block;
    margin: 60px 4px 0 0;
}
.head .headR a{
	color:#e6133c;
	font-weight: 700;
}
/*主体*/
#main{
	width:990px;
	margin:0 auto;
}
#main .title{
    text-align: left;
    border: 1px solid #ffdaa2;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 6px 8px;
    min-width: 50px;
    color: #000;
    background-color: ivory;
    margin: 6px 0;
}
#main .title p{
	font-size: 12px;
	padding-left: 30px;
	background: url(../img_com/alert.png) no-repeat;
}
#main .car-title{
	width: 990px;
    height: 51px;
    border-bottom: 1px solid #ccc;
}
#main .car-title .name{
	float: left;
    width: auto;
    height: 32px;
    line-height: 32px;
    padding: 0 6px;
    margin-top: 18px;
    display: block;
    border-bottom: 2px solid #333;
    color: #333;
    font-size: 16px;
    font-weight: 700;
}
#main .car-title .pay-message{
	float: right;
	width: auto;
    height: 48px;
    line-height: 48px;
    display: inline;
    margin-top: 3px;
    color: #000;
    font-size: 12px;
}
#main .car-title .pay-message span{
	color:#999;
} 
#main .car-title .pay-message i{
	font-style: normal;
	padding-right: 10px;
}
#main .car-title .pay-message .money{
	color: #fa2244;
	font-size: 16px;
}
#main .car-title .pay-message .buyNow{
	display:inline-block;
	width:70px;
	height:26px;
	line-height: 26px;
	text-align: center;
	color: #fff;
	background: #fa2244;
}
#main .car-head{
	width: 990px;
    height: 44px;
    line-height: 44px;
    color: #333;
    border-bottom: 1px solid #ccc;
}
#main .car-head .qx{
	float:left;
	width: 50px;
    height: 44px;
    line-height: 44px;
    display: inline;
    margin-left: 15px;
}
#main .chk{
    margin-top: 17px;
    float: left;
    display: inline;
    width: 10px;
    height: 10px;
    border-radius: 3px;
    cursor: pointer;
    border: 1px solid #999;
}
#main .chkClick{
	border-color: #d62233;
    background: url(../img_com/select.png) #d62233 no-repeat;
}
#main .car-head .qx span{
    height: 44px;
    line-height: 44px;
    margin-left: 10px;
    float: left;
    display: inline;
}
#main .car-head .item{
    width: 390px;
    height: 44px;
    line-height: 44px;
    float: left;
    display: inline;
    margin-left: 80px;
}
#main .car-head .item-price{
	width: 138px;
    height: 44px;
    line-height: 44px;
    float: left;
    display: inline;
}
#main .car-head .number{
	width: 102px;
    height: 44px;
    line-height: 44px;
    float: left;
    display: inline;
}
#main .car-head .total-price{
	width: 132px;
    height: 44px;
    line-height: 44px;
    float: left;
    display: inline;
}
#main .car-head .action{
	width: 64px;
    height: 44px;
    line-height: 44px;
    float: left;
    display: inline;
}
#main .cart-table-list .cart-table-line{
	width: 990px;
    height: 110px;
    border-bottom: 1px solid #ccc;
    background: #FFFAF1;
}
.cart-table-line .box1{
	float: left;
	width: 20px;
	padding-left: 15px;
}
.cart-table-line .box2{
	float: left;
	padding-top:15px;
}
.cart-table-line .box2 .goods-img{
	display: block;
	width: 78px;
    height: 78px;
    border: 1px solid #ddd;
    float: left;
    margin-right: 10px;
}
.cart-table-line .box2 .goods-img img{
	width: 100%;
	height:100%;
	display: block;
}
.cart-table-line .box2 .goods-name{
	width: 200px;
    height: 36px;
    line-height: 18px;
    float: left;
    display: block;
    overflow: hidden;
    word-break: break-all;
    text-overflow: ellipsis;
    font-size: 12px;
}
.cart-table-line .box2 .goods-name:hover{
	color: #e6133c;
	text-decoration: underline;
}
.cart-table-line .box3{
	float:left;
	padding-top: 10px;
	margin-left: 210px;
	font-size: 12px;
}
.cart-table-line .box4{
	float: left;
	padding-top: 15px;
	margin-left: 75px;

}
.cart-table-line .box4 em{
	height:26px;
	width: 18px;
	background: #eee;
	display: block;
	float: left;
	text-align: center;
	line-height: 26px;
	margin-top:2px;
	cursor: pointer;
}
.cart-table-line .box4 .num{
	width: 40px;
    height: 24px;
    line-height: 24px;
    border: 1px solid #aaa;
    color: #333;
    text-align: center;
    float: left;
    display: inline;
    margin-top: 2px;
}
.cart-table-line .box5{
	float: left;
	height: 30px;
	padding-top:15px;
	width:100px;
	margin-left: 37px;
	color: #D62233;
}
.cart-table-line .box6{
	float: left;
	padding-top:15px;
	margin-left: 40px;
}
.cart-table-line .box6 p{
	font-size: 12px;
	cursor: pointer;
}
.cart-table-line .box6 .del{
	color:#999;
}
.cart-table-line .box6 p:hover{
	text-decoration: underline;
	color: #e6133c;
}


.pay-line{
   width: 990px;
   height: 50px;
   background: #f3f3f3;
   line-height: 50px;
	margin:20px 0;
}
.pay-line .sel{
	margin:0 15px;
	height: 50px;
	float: left;
}
.pay-line .sel .txt{
	float: left;
	margin-left: 5px;
	font-size: 12px;
	margin-top:-3px;
	cursor: pointer;
}
.pay-line a{
	font-size: 12px;
	line-height: 18px;
	float: left;
	display: block;
   height: 22px;
   color: #666;
   margin-top:13px;
}
.pay-line .a1{
	margin-left:10px;
	margin-right: 20px;
}
.pay-line .a1 i{
	display: block;
	width:16px;
	height: 16px;
	float: left;
	background: url(../img_com/cart_icon.png) no-repeat 0 -133px;
}
.pay-line .a2{
	margin-right: 20px;
}
.pay-line .a3{
	margin-right: 20px;
}
.pay-line .a4{
	margin-left: 100px;
}
.pay-line .a4 span{
	padding:0 5px;
	color: #D62233;
}
.pay-line .div{
	float: left;
	width: 43px;
	height: 47px;
	background: url(../img_com/gwc.png) no-repeat;
	margin-left: 100px;
	padding-left:140px; 
	line-height: 35px;
	color: #D62233
}
.pay-line .a5{
	float: right;
	display: block;
	width: 120px;
	height:50px;
	margin:0;
	text-align: center;
	line-height: 50px;
	background: #D62233;
	color: #fff;
	font-size: 16px;
}