@charset "utf-8";

#pagination a, #pagination span {
  cursor: pointer;
  float: left;
  list-style: none;
  height: 24px;
  line-height: 24px;
  text-align: center;
  margin-right: 10px;
  border: 1px solid #999;
  background: #eee;
  color: #333;
  display: inline-block;
  padding: 0 8px;
}
#pagination .current {
  background: #e6133c;
  color: #fff;
  border: 1px solid #e6133c;
}
